name: Artifact
on:
  push:
jobs:
  build:
    name: Build artifacts
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: echo GITHUB_BRANCH="${GITHUB_REF##refs/heads/}" >> $GITHUB_ENV

      - name: Get labels
        uses: actions/github-script@v5
        with:
          script: |
            const { owner, repo } = context.repo;

            const q = 'is:pr SHA:${{ env.GITHUB_SHA }}';

            console.log(q);

            const result = await github.rest.search.issuesAndPullRequests({
              q
            });

            console.log(result);

      - name: Tar Artifact
        if: ${{ env.GITHUB_BRANCH == 'next' || contains(github.event.pull_request.labels.*.name, 'e2e') }}
        run: |
          echo "Running tests ${{ env.GITHUB_BRANCH }}"
          sleep 6
          echo "MyArtifact ${{ github.event.pull_request.head.sha }}" >> my_artifact.txt
          cat my_artifact.txt

      - name: Upload artifact
        if: ${{ env.GITHUB_BRANCH == 'next' || contains(github.event.pull_request.labels.*.name, 'e2e') }}
        uses: actions/upload-artifact@v2
        with:
          name: foo
          path: my_artifact.txt
