name: Artifact
on:
  push:
  pull_request:
     types: [ labeled ]
jobs:
  build:
    name: Build artifacts
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: echo GITHUB_BRANCH="${GITHUB_REF##refs/heads/}" >> $GITHUB_ENV

      - name: Get labels
        uses: actions/github-script@v5
        id: labels
        with:
          script: |
            console.log(context);

            return (await github.rest.search.issuesAndPullRequests({
              q: 'is:pr is:open SHA:' + context.sha
            }))
            .data.items
              .flatMap(e => e.labels)
              .map(label => label.name);

      - run: echo IS_E2E="${{ contains(steps.labels.outputs.result, 'e2e') }}" >> $GITHUB_ENV

      - name: Tar Artifact
        if: ${{ env.GITHUB_BRANCH == 'next' || env.IS_E2E == 'true' }}
        run: |
          echo "Running tests ${{ env.GITHUB_BRANCH }}"
          sleep 6
          echo "MyArtifact ${{ github.event.pull_request.head.sha }}" >> my_artifact.txt
          cat my_artifact.txt

      - name: Upload artifact
        if: ${{ env.GITHUB_BRANCH == 'next' || env.IS_E2E == 'true' }}
        uses: actions/upload-artifact@v2
        with:
          name: foo
          path: my_artifact.txt
