name: Docker base image
on:
  push:
    branches: [ master ]
    paths:
      - 'README.md'
jobs:
  build:
    name: Build Image
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build me!
        run: |
          echo "Docker build"
          sleep 60
