name: E2E Tests
on:
  issue_comment:
    types: [created, edited]
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-20.04
    if: ${{ github.event.push != null || (contains(github.event.comment.html_url, '/pull/') && contains(github.event.comment.body, '/e2e')) }}
    steps:
      - if: contains(github.event.comment.body, '/e2e')
        uses: LouisBrunner/checks-action@v1.1.1
        id: check
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: E2E tests
          status: in_progress

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Run tests
        id: test
        run: |
          echo "Running tests ${{ env.GITHUB_REF }}"
          sleep 6
          exit 1

      - if: contains(github.event.comment.body, '/e2e') && always()
        uses: LouisBrunner/checks-action@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check_id: ${{ steps.check.outputs.check_id }}
          conclusion: ${{ job.status }}
          # output: |
            # {"summary":${{ steps.test.outputs.summary }}}
