name: E2E Tests
on:
  workflow_run:
    workflows: ["Artifact"]
    types:
      - completed
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: echo GITHUB_BRANCH="${GITHUB_REF##refs/heads/}" >> $GITHUB_ENV

      - uses: actions/github-script@v5
        id: prs
        with:
          script: |
            const { owner, repo } = context.repo;

            if(!context.payload.workflow_run) {
              return "";
            }

            let data = await Promise.all(
              context.payload.workflow_run.pull_requests.map(pr => pr.number)
              .map(async (pull_number) => {
                let pr = await github.rest.pulls.get({
                  owner, repo,
                  pull_number
                });

                let labels = pr.data.labels.map(label => label.name);

                if(labels.includes('e2e')) {
                  const check = await github.rest.checks.create({
                    owner, repo,
                    head_sha: pr.data.head.sha,
                    name: "E2E Tests",
                    status: "in_progress"
                  });

                  const check_id = check.data.id;
                  return { labels, check_id };
                }

                return { labels };
              })
            );

            const labels = data.map(d => d.labels).flat().join(",");
            const check_ids = data.map(d => d.check_id).filter(c => !!c);

            return {
              labels, check_ids
            };

      - run: echo IS_E2E="${{ contains(fromJSON(steps.prs.outputs.result).labels, 'e2e') }}" >> $GITHUB_ENV

      - name: Download artifact
        if: ${{ env.IS_E2E == 'true' }}
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: artifact.yml
          workflow_conclusion: success
          branch: "${{ env.GITHUB_REF }}"
          commit: "${{ env.GITHUB_SHA }}"
          name: foo

      - name: Run tests
        if: ${{ env.IS_E2E == 'true' }}
        run: |
          echo "Running tests ${{ env.GITHUB_REF }}"
          sleep 6
          cat my_artifact.txt
          exit 1

      - name: Complete check
        if: ${{ env.IS_E2E == 'true' && always() }}
        uses: actions/github-script@v5
        with:
          script: |
            const { owner, repo } = context.repo;

            const check_ids = ${{ fromJSON(steps.prs.outputs.result).check_ids }};
            for(let check_run_id of check_ids) {
              await github.rest.checks.update({
                owner, repo,
                check_run_id,
                status: "completed",
                conclusion: "${{ job.status }}"
              });
            }
