name: E2E Tests
on:
  issue_comment:
    types: [created, edited]
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-20.04
    if: ${{ github.event.push != null || (contains(github.event.comment.html_url, '/pull/') && contains(github.event.comment.body, '/e2e')) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Run tests
        run: |
          echo "Running tests ${{ env.GITHUB_BRANCH }}"
          sleep 6
