name: E2E Tests
on:
  push:
    branches: [ next, master ]
  workflow_run:
    workflows: ["Artifact"]
    types:
      - completed
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-20.04
    # if: ${{ github.event.push != null || contains(github.event.pull_request.labels.*.name, 'e2e') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: echo GITHUB_BRANCH="${GITHUB_REF##refs/heads/}" >> $GITHUB_ENV

      # - run: echo "${{toJSON(github.event.workflow_run.pull_requests)}}"

      - uses: actions/github-script@v5
        id: labels
        with:
          result-encoding: string
          script: |
            const { owner, repo } = context.repo;

            if(!context.payload.workflow_run) {
              return "";
            }

            const labels = await Promise.all(
              context.payload.workflow_run.pull_requests.flatMap(pr => pr.number)
              .map(async (pull_number) => {
                let pr = await github.rest.pulls.get({
                  owner, repo,
                  pull_number
                });

                console.log(pr.data.labels);
                return pr.data.labels.map(label => label.name);
              })
            );
            console.log(labels);

            return labels.join(",");


      - run: echo "${{ steps.labels.output.result }}"

      - run: echo IS_E2E="${{ contains(steps.labels.output.result, 'e2e') }}" >> $GITHUB_ENV

      - name: Download artifact
        if: ${{ env.IS_E2E == 'true' }}
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: artifact.yml
          workflow_conclusion: success
          branch: "${{ env.GITHUB_REF }}"
          commit: "${{ env.GITHUB_SHA }}"
          name: foo

      - name: Run tests
        if: ${{ env.IS_E2E == 'true' }}
        run: |
          echo "Running tests ${{ env.GITHUB_REF }}"
          sleep 6
          cat my_artifact.txt
          exit 1

      # - name: Wait for artifact
      #   if: ${{ env.GITHUB_BRANCH != 'next' && env.GITHUB_BRANCH != 'master' }}
      #   uses: fountainhead/action-wait-for-check@v1.0.0
      #   with:
      #     ref: ${{ github.event.pull_request.head.sha }}
      #     checkName: 'Build artifacts'
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     timeoutSeconds: 1200
