name: E2E Docker
on:
  workflow_run:
    workflows: ["Docker base image"]
    branches: [ master ]
    types: [ completed ]
  push:
    branches: [ master ]
    paths:
      - 'README2.md'
jobs:
  build:
    name: Build Image
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run == null || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check if README.md has been changed as well
        run: |
          echo "::set-output name=files::$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | xargs)"

      - name: Echo Changed files
        run: |
          echo ${{ steps.getfile.outputs.files }}
