name: E2E Tests
on:
  push:
    branches: [ next, master ]
  workflow_run:
    workflows: ["Artifact"]
    types:
      - completed
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-20.04
    # if: ${{ github.event.push != null || contains(github.event.pull_request.labels.*.name, 'e2e') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: echo GITHUB_BRANCH="${GITHUB_REF##refs/heads/}" >> $GITHUB_ENV

      # - run: echo "${{toJSON(github.event.workflow_run.pull_requests)}}"

      - uses: actions/github-script@v5
        id: prs
        with:
          # result-encoding: string
          script: |
            const { owner, repo } = context.repo;

            if(!context.payload.workflow_run) {
              return "";
            }

            let data = await Promise.all(
              context.payload.workflow_run.pull_requests.map(pr => pr.number)
              .map(async (pull_number) => {
                let pr = await github.rest.pulls.get({
                  owner, repo,
                  pull_number
                });

                let sha = pr.data.head.sha;

                return {
                  sha,
                  labels: pr.data.labels.map(label => label.name)
                };
              })
            );
            let labels = data.map(d => d.labels).flat();
            let sha = data.map(d => d.sha).shift();

            return { labels, sha };


      - run: echo "${{ steps.prs.outputs.result }}"

      - run: echo IS_E2E="${{ contains(steps.prs.outputs.result.labels, 'e2e') }}" >> $GITHUB_ENV

      - name: Create check
        id: check
        uses: LouisBrunner/checks-action@v1.1.1
        if: ${{ env.IS_E2E == 'true' }}
        with:
          sha: ${{ steps.prs.outputs.result.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          name: "E2E Tests"
          status: in_progress

      - name: Download artifact
        if: ${{ env.IS_E2E == 'true' }}
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: artifact.yml
          workflow_conclusion: success
          branch: "${{ env.GITHUB_REF }}"
          commit: "${{ env.GITHUB_SHA }}"
          name: foo

      - name: Run tests
        if: ${{ env.IS_E2E == 'true' }}
        run: |
          echo "Running tests ${{ env.GITHUB_REF }}"
          sleep 6
          cat my_artifact.txt
          exit 1

      - name: Complete check
        if: ${{ env.IS_E2E == 'true' && always() }}
        uses: LouisBrunner/checks-action@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check_id: ${{ steps.check.outputs.check_id }}
          status: completed
          conclusion: ${{ job.status }}

      # - name: Wait for artifact
      #   if: ${{ env.GITHUB_BRANCH != 'next' && env.GITHUB_BRANCH != 'master' }}
      #   uses: fountainhead/action-wait-for-check@v1.0.0
      #   with:
      #     ref: ${{ github.event.pull_request.head.sha }}
      #     checkName: 'Build artifacts'
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     timeoutSeconds: 1200
