name: E2E Docker
on:
  workflow_run:
    workflows: ["Docker base image"]
    branches: [ master ]
    types: [ completed ]
  push:
    branches: [ master ]
    paths:
      - 'README2.md'
jobs:
  build:
    name: Build Image
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run == null || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Check if README.md has been changed as well
        id: getfile
        run: |
          echo "::set-output name=files::$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep README.md)"

      - name: Cancel workflow if README.md changed
        uses: styfle/cancel-workflow-action@0.9.1
        if: ${{ steps.getfile.outputs.files }} != "" && github.event.workflow_run == null
        with:
          access_token: ${{ github.token }}

      - name: Build me!
        run: |
          echo "Docker build"
          sleep 6000
